{% extends 'base.html' %}

{% block title %}Index page{% endblock %}

{% block content %}
<style>
	.card {
		padding: 10px;
	}

	.card h3 {
		font-family: none;
	}
</style>

<h2>Index Page</h2>

<div style="display:flex;">
	<div class="card" style="width:33%;">
		<h3>Django</h3>
		Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
	</div>

	<div class="card" style="width:33%;">
		<h3>Django</h3>
		Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
	</div>

	<div class="card" style="width:33%;">
		<h3>Django</h3>
		Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.
	</div>
</div>
{% endblock  %}